<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head><title>weibo analyse</title></head>
    <script type="text/javascript" src="static/ichart.1.2.1.min.js"></script>
    <script type="text/javascript" src="static/follow.js"></script>
<body>
    <br>
    <h2 align="center">weibo analyse information</h3>  
    <p align="center">grab time：2015/10/23</p>  
    <p align="center"></p>
    
    <div id='weibototal'></div>
    <script type="text/javascript" >
    $(function(){
        var raw = '{{namelist}}';
        var data = JSON.parse(raw);
        var d = [];
        for(var o in data){
            var tmp = {"name":"", "value": 0, "color":"#4572a7",};
            tmp.name = o;
            tmp.value = data[o];
            d.push(tmp);
        }
        showBar2D(d);
        });
    </script>
    
    <br>
    <br>
    <div id='sexratio'></div>
    <script type="text/javascript" >
    $(function(){
        var raw = '{{sexlist}}';
        var data = JSON.parse(raw);
        var total = 0;
        for (var element in data) {
            total = total + data[element];
        }
        for (var element in data) {
            data[element] = (data[element] / total * 100).toFixed(2);
        }

        var d = [];
        tmp = {"name":"male", "value": data["male"], "color":"#586147",};
        d.push(tmp);
        var tmp = {"name":"female", "value": data["female"], "color":"#4572a7",};
        d.push(tmp);
        tmp = {"name":"other", "value": data["other"], "color":"#412357",};
        d.push(tmp);
        
        showlocation(d, total);
        });
    </script>
    
    <br>
    <br>
    <br>
    <div id='localtion'></div>
    <script type="text/javascript" >
    $(function(){
        var raw = '{{sexlist}}';
        var data = JSON.parse(raw);
        var total = 0;
        for (var element in data) {
            total = total + data[element];
        }
        for (var element in data) {
            data[element] = (data[element] / total * 100).toFixed(2);
        }

        var d = [];
        tmp = {"name":"male", "value": data["male"], "color":"#586147",};
        d.push(tmp);
        var tmp = {"name":"female", "value": data["female"], "color":"#4572a7",};
        d.push(tmp);
        tmp = {"name":"other", "value": data["other"], "color":"#412357",};
        d.push(tmp);
        
        showlocation(d);
        });
    </script>
    {{sexlist}}
    <br>
    <br>
</body>  
</html> 
